.dark-block {
  color: black;
  text-align: left;
  padding: 1.5em;
  border-radius: 20px;
  background: white;
  margin: 0 2em;
  border: 1px solid;
}

article.post-item h4 {
  line-height: 1.6em;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.textblock {
  font-size: 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 864px;
  width: 100%;
  padding: 0 1em;
  margin: 3em auto 0 auto;
}

.textblock__title {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.35em;
  margin: 0;
}

.textblock__description {
  line-height: 1.5em;
  margin-bottom: 0;
  margin-top: 1em;
}

@media (max-width: 420px) {
  .textblock {
    margin: 1.5em auto 0 auto;
  }
}
