.dark-block {
  color: black;
  text-align: left;
  padding: 1.5em;
  border-radius: 20px;
  background: white;
  margin: 0 2em;
  border: 1px solid;
}

article.post-item h4 {
  line-height: 1.6em;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.textblock {
  font-size: 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 864px;
  width: 100%;
  padding: 0 1em;
  margin: 3em auto 0 auto;
}

.textblock__title {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.35em;
  margin: 0 0 1rem 0;
}

.textblock__description {
  line-height: 1.5em;
}

.timeline-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 4em 0.5em 8em 0;
  background: #dcd4cd;
}

.timeline__header {
  text-align: center;
}

.timeline__header__title {
  font-size: 2.5em;
  font-weight: 400;
}

.timeline--vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 375px;
}

.timeline__item {
  position: relative;
  margin: 40px 0;
}

.timeline__item::before {
  content: '';
  position: absolute;
  height: 150px;
  left: 12px;
  top: 60px;
  border: 1px solid rgb(0, 0, 0, 0.12);
}

.timeline__item--short::before {
  height: 50px;
}

.timeline__item__year {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 80px;
  height: 45px;
  padding: 8px;
  font-size: 1.5em;
  background-color: silver;
  border-radius: 4px;
}

.timeline__item__info {
  position: relative;
  top: 4em;
  left: 4em;
  width: 80%;
}

.timeline__item__info::before {
  content: '';
  position: absolute;
  width: 32px;
  height: 2px;
  background-color: rgb(0, 0, 0, 0.12);
  left: -3.1em;
  top: 10px;
}

.timeline__item__info::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 0.4em;
  left: -1.5em;
  background-color: #3e5858;
}

.timeline__item__info__heading {
  line-height: 24px;
  margin-bottom: 0;
}

.timeline__item__info__link {
  color: #a64;
  text-decoration: underline !important;
}

@media (max-width: 420px) {
  .timeline-section {
    width: 300px;
  }
  .textblock {
    margin: 1.5em auto 0 auto;
  }
}
