{% load cms_tags menu_tags sekizai_tags static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}This is my new project home page{% endblock title %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    {% block css_files %}
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/pages.css' %}" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    {% endblock css_files %}
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet" />
    {% render_block "css" %}
  </head>

  <body>
    {% cms_toolbar %} {% block navbar %}

    <section class="header-section">
      <div class="header">
        <img class="header__logo" src="/static/img/logo.svg" alt="" />
        <p class="header__description">
          The ‘Zombie Tracker’ is a platform which monitors cases which include a charge under
          <span>Section 66A of the Information Technology Act 2000</span> (as amended in 2008).
        </p>
      </div>
    </section>

    <div class="header__nav">
      <ul class="header__nav__navbar">
        <li><a href="/">Home</a></li>
        <li><a href="/viz">Tracker</a></li>
        <li><a href="/methodology">Methodology</a></li>
        <li class="dropdown">
          <a
            href="#"
            class="dropdown-toggle"
            data-toggle="dropdown"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            >Recommendations <span class="caret"></span
          ></a>
          <ul class="dropdown-menu">
            <li><a href="/recommendations/66a">66A</a></li>
            <li><a href="/recommendations/opendata">OpenData</a></li>
            <li><a href="/recommendations/general">General</a></li>
          </ul>
        </li>
        <li><a href="/reporting">Reporting</a></li>
        <li class="dropdown">
          <a
            href="#"
            class="dropdown-toggle"
            data-toggle="dropdown"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            >Glossary <span class="caret"></span
          ></a>
          <ul class="dropdown-menu">
            <li><a href="/glossary/process">Process</a></li>
            <li><a href="/glossary/terms">Terms</a></li>
          </ul>
        </li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/about-us">About Us</a></li>
      </ul>
    </div>

    {% endblock navbar %}

    <div class="container-main" style="min-height: 70vh">
      {% block content %}{% endblock content %}
      <a target="_blank" rel="noreferrer noopener" href="https://internetfreedom.in/donate" class="btn btn-default fab"
        ><i class="fa fa-money"></i
      ></a>
    </div>

    <section class="footer-section">
      <div class="footer-row footer-row--grid">
        <div class="footer-item footer-item--left">
          <a href="/privacy">Terms of Use</a>
          <img class="footer-brand-logo" src="static/img/iff_logo_horizontal_white.svg" />
        </div>
        <div class="footer-item footer-item--center">
          <div>
            <span>66A Tracker</span>
            <span>We stand against 66A</span>
          </div>
          <div class="social-networks">
            <a href="https://twitter.com/internetfreedom" target="_blank" class="twitter"
              ><i class="fa fa-twitter"></i
            ></a>
            <a href="https://www.facebook.com/66a" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="https://github.com/CivicDataLab/stop-66A" target="_blank" class="google"
              ><i class="fa fa-github"></i
            ></a>
            <a href="/reporting" target="_blank" class="google"><i class="fa fa-envelope"></i></a>
            <a href="https://forum.internetfreedom.in/" target="_blank" class="google"
              ><i class="fa fa-forumbee"></i
            ></a>
          </div>
        </div>
        <div class="footer-item footer-item--right">
          <a href="/privacy">Privacy Policy</a>
          <img class="footer-brand-logo" src="static/img/civicdatalab.png" />
        </div>
      </div>
      <hr class="horizontal-divider" />
      <div class="footer-row">
        <span>All works under Creative Commons Attribution 4.0 (CC-BY)</span>
        <span>We thank the ChintuGudiya Foundation (Project Tech4Dev) for funding the first phase of the project</span>
      </div>
    </section>

    {% render_block "js" %}{% block js_block %}
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <!-- Latest compiled and minified JavaScript -->
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"
    ></script>
    {% endblock js_block %}
  </body>
</html>
