.col-to-row{
   display: flex;
}

@media screen and (max-width: 767px) {
	.col-to-row{
	   display: block;
	}

}

.row-section{
	background:white;
	margin-bottom:20px;
        min-height: 15vh;
        text-align:center;
        align-items:center;
        justify-content:center;
}

.row-section a {
   text-decoration: underline;
}

.dark-block{
   color: black; 
   text-align: left;
   padding: 1.5em;
   border-radius: 20px;
   background: white;
   margin: 0 2em;
   border: 1px solid;
}

article.post-item h4 {
   line-height: 1.6em;
}

.img-fluid{
    width:100%;
    height:auto;

}



